<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" />

    <!-- SICK -->
    <include file="$(find maggie_navigation_config)/launch/laser/sick.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- HOKUYO -->
    <include file="$(find maggie_navigation_config)/launch/laser/hokuyo.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- KINECT -->
<!--
    <group ns="$(arg robot)">
        <include file="$(find openni_launch)/launch/openni.launch" />
    </group>
-->
	<!-- launch the kinect node -->
	<include file="$(find kinect)/launch/kinect_node_local.launch">
	  <arg name="robot" value="$(arg robot)" />
	</include>
</launch>
