<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" value="maggie" />

    <!-- DEVICES - -->
    <include file="$(find maggie_bringup)/launch/maggie_devices.launch" />

    <!-- REACTIVE SKILLS - -->
    <include file="$(find maggie_bringup)/launch/maggie_reactive_skills.launch" />

    <!-- DELIBERATIVE  SKILLS - -->
    <include file="$(find maggie_bringup)/launch/maggie_deliberative_skills.launch" />

    <!-- INTERACTION SKILLS: DIALOG MANAGER, MULTIMODAL FUSION, MULTIMODAL FISION, ASR, ETTS, ETC- -->
    <include file="$(find maggie_bringup)/launch/maggie_interaction.launch" />

    <!-- NAVIGATION USING MAP -->
    <include file="$(find maggie_bringup)/launch/maggie_navigation.launch" />
</launch>
