<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" value="maggie" />

    <!-- START BASIC -->
    <include file="$(find maggie_bringup)/launch/maggie_start_basic.launch" />

    <!-- DEVICES - -->

    <!-- LASERS + KINECT -->
    <include file="$(find kinect_laser)/launch/lasers_kinect.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- LASERS-KINECT FUSION -->
<!--     <include file="$(find kinect_laser)/launch/lasers_kinect_fusion.launch">
        <arg name="robot" value="$(arg robot)" />
    </include> -->

    <!-- SKILLS - -->

    <!-- GOTO PLACE -->
    <include file="$(find goto_place_skill)/launch/goto_place_skill.launch">
        <arg name="robot" value="$(arg robot)" />
        <arg name="map_name" value="map_1.3.C12" />
    </include>

    <!-- NAVIGATION USING MAP -->
    <include file="$(find maggie_bringup)/launch/maggie_navigation.launch" />
</launch>
