<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" value="maggie" />
    <arg name="map_name" default="roboticslab_complete_clean" />

    <!-- MAP SERVER -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find uc3m_maps)/maps/$(arg map_name).yaml">
        <param name="frame_id" value="/map" />
    </node>

    <!-- DO NOT USE A SIMULATED TIME BUT LINUX WALL TIME -->
    <param name="/use_sim_time" value="false" />

    <!-- NAVIGATION (REAL) -->
    <include file="$(find maggie_navigation_config)/launch/real/navigation_real.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- FORCE INITIAL POSE -->
    <include file="$(find maggie_navigation_config)/launch/initialpose.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
</launch>
