<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" value="maggie" />

    <!-- BATTERIES -->
    <include file="$(find batteries_skill)/launch/batteries_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- TOUCH -->
    <include file="$(find touch_skill)/launch/touch_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
    
    <!-- BLINK -->
    <include file="$(find blink_skill)/launch/blink_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

   <!-- STATES -->
    <include file="$(find basic_states_skill)/launch/basic_states_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
    
    <!-- GOTO PLACE -->
    <include file="$(find goto_place_skill)/launch/goto_place_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- FOLLOWME -->
    <include file="$(find followme_skill)/launch/followme_skill.launch">
        <arg name="robot" value="$(arg robot)" />
        <arg name="usePPL" value="true" />
    </include>
    
    <!-- PEOPLE DETECTION & RECOGNITION (BY VISION) -->
<!--
    <include file="$(find people_recognition_vision)/launch/user_awareness_sample.launch">
    </include>
-->
	<!-- launch the user detection, recognition, and fusion -->
	<include file="$(find people_recognition_vision)/launch/ukf_multimodal_lite.launch">
	  <arg name="robot" value="$(arg robot)" />
	  <arg name="pplp_use_face_detector3d"     value="true"/>
	  <arg name="pplp_use_hog_detector"        value="true"/>
	  <arg name="pplm_use_euclidean"           value="true"/>
	  <arg name="pplm_use_face_rec"            value="false"/>
	  <arg name="data_fusion_use_ukf"          value="true"/>

	  <arg name="data_fusion_static_frame_id"  value="base_link"/>
	</include>

</launch>
