<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="robot" value="maggie" />
    <arg name="map_name" default="roboticslab_complete_clean" />

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find uc3m_maps)/maps/$(arg map_name).yaml">
        <param name="frame_id" value="/map" />
    </node>

    <!-- do not use a simulated time but Linux wall time -->
    <param name="/use_sim_time" value="false" />

    <!-- navigation (real) -->
    <include file="$(find maggie_navigation_config)/launch/real/navigation_real.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- force initialpose -->
    <include file="$(find maggie_navigation_config)/launch/initialpose.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
</launch>
