<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="model" default="$(find maggie_description)/robots/maggie.urdf" />
    <arg name="gui" default="False" />

    <include file="$(find maggie_description)/launch/tf_tree.launch">
        <arg name="model" value="$(arg model)" />
    </include>
    
    <node pkg="tf" type="static_transform_publisher" name="world_base_broadcaster"
        args="0 0 0  0 0 0  world base_link 100" />

    <!-- robot visualization -->
    <param name="use_gui" value="$(arg gui)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find maggie_description)/config/urdf.rviz"
        required="true" />
</launch>
