<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="model" default="$(find maggie_description)/robots/maggie.urdf" />

    <!-- urdf xml robot description loaded on the Parameter Server -->
    <param name="robot_description" textfile="$(arg model)" />

    <!-- source that publishes the joint positions as a sensor_msgs/JointState -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- publish the state of a robot to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
