<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- CONSTANTS -->

    <xacro:property name="pi" value="3.1415" />

    <xacro:property name="bodylen" value="0.5" />
    <xacro:property name="baselen" value="0.5" />
    <xacro:property name="armlen" value="0.4" />
    
    <xacro:property name="defaultvel" value="0.5" />

    <!-- MACROS -->

    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>
    </xacro:macro>
</robot>
